/* This file specifies the main styling for our website */
/*******************************************************************************************************
GENERAL
********************************************************************************************************/
/* All 'anchor' elements (anchored to some link) have these attributes*/
a {
 text-decoration: none; 
 align-content:center;
}

/* Hashtags are the ids for elements in the html */
#wrapper {
 max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/* The logo id is referring to the Heading of the page*/
#logo {
  text-align:center;
  margin:0;
}

/* the images will fill the width of the parent container 
(shrinks and expands with the container and the browser - 
  part of responsive web design)  */ 
img {
  max-width: 100% 
}

/*********************************************************************************************************
HEADING
**********************************************************************************************************/

h1 {
  font-family: 'PT Sans', sans-serif; 
  text-align:center;
  padding-top: 25px;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight:bold;
  line-height:0.8em;
}

h2 {
  font-size: 0.75em;
  text-align:center;
  margin: -5px 0 0; /* sets margin for top, left/right and bottom, negative pulls it closer to objects next to it*/
  font-weight:bold;
}

h3 {
 margin: 0 0 1em 0; 
}

/*********************************************************************************************************
NAVIGATION
**********************************************************************************************************/

nav {
    text-align:center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav a {
    font-weight:bold;
    padding:15px 10px;
}

/* select the nav unordered list */
nav ul{
  list-style:none;
  margin: 0 10px;
  padding: 0;  
}

/* select the list items in the nav panel, inline-block: puts the items in a line, but with come block properties to give it space */
nav li {
 display: inline-block;
 padding: 0 10px 0 10px; /* added some padding between the elements*/
}

/*********************************************************************************************************
FOOTER
**********************************************************************************************************/

footer {
  text-align: center;
  font-size: 0.75em;
  font-weight:bold;
  clear:both; /* makes it so that the footer stays in the middle of the page, rather than float with the other elements */
  padding-top: 50px;
  color: #ccc;
}

/*********************************************************************************************************
Portfolio Page
**********************************************************************************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none; /* this gets rid of the bullet points next to the images */
}

/* selects the list elements of the gallery, since the width of the pics are 45%, the margins around each one will fill the pad up the rest of the
screen */
#gallery li {
  float:left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

/* select the paragraphs inside the anchor elements, inside the list elements in the gallery */
#gallery li a p {
 margin: 0;
 padding: 5%;
 font-size: 0.75em;
 color: #bdc3c7;
}

/*********************************************************************************************************
About Page
**********************************************************************************************************/

.profile-photo {
  clear: both;
  display: block; /* set photo as block rather than in-line */
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%; /* Rounded borders in the pic (100% makes it a circle in fact) */
}

/*********************************************************************************************************
Mathematics Page
**********************************************************************************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block; /* let each thing take up a block of space*/
  background-repeat: no-repeat; /* by default background images are repeated turn this off*/
  background-size: 20px 20px;
  padding: 0 0 0 30px; /* start the elements 30px inwards*/
  min-height: 20px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png')

}

.contact-info li.mail a {
  background-image: url('../img/mail.png')

}

/*********************************************************************************************************
COLORS
**********************************************************************************************************/
header {
  background-color: #476291;
  border-color: #fff;
  float: left;
  margin: 0 0 30px 0; /* Gets rid of the white space on the top*/
  padding: 5px 0 0 0; /* Seperates the heading text from the top a bit */ 
  width: 100%; /* Makes sure it stretches across the page */
}

h1, h2 {
  color: #fff;
}

nav {
 background-color: none; 
}


/* Here we select each anchored element in the navigation panel - and the color when a link has been visited*/
nav a, nav a:visited{
  color: #fff;
}

/* selected refers to a class we have created - that specifies the selected page, all anchor elements with this class will get these attributes 
    hover - shows the attributes when we hover over the element*/
nav a.selected, nav a:hover{
  color: #ccc;
}

body {
 color: #fff; 
 background-color: #D3D8DC;
 font-family:'Open Sans', sans-serif;
 
}







