/* This file specifies the main styling for our website */
/*******************************************************************************************************
GENERAL
********************************************************************************************************/
/* All 'anchor' elements (anchored to some link) have these attributes*/
a {
 text-decoration: none; 
 align-content:center;
}


/*********************************************************************************************************
HEADING
**********************************************************************************************************/

h1 {
  font-family: 'PT Sans', sans-serif; 
  text-align:left;
  padding-top: 0px;
  margin: 0 15px;
  font-size: 0.75em;
  font-weight:bold;
  line-height:0.8em;
}

h1 a:visited {
  font-family: 'PT Sans', sans-serif; 
  text-align:left;
  padding-top: 0px;
  margin: 0 15px;
  color: #fff;
  font-size: 0.75em;
  font-weight:bold;
  line-height:0.8em;
}

h2 {
  font-size: 0.75em;
  padding-top: 15px;
  text-align:left;
  margin: -5px 15px 0; /* sets margin for top, left/right and bottom, negative pulls it closer to objects next to it*/
  font-weight:bold;
}

h3 {
 margin: 0 0 1em 0; 
}

th {
    text-align: left;
    border: 1px solid #A5BDCD;
    background-color: white;
    color: #1F5B83;
}

table, a:visited {
  color: #000;
}

table, td {
    border: 1px solid #A5BDCD;
    margin: 10px 50px;
    font-size: 1em;
    text-align: left;
    color: #6b6a6a;
}

li {
  margin: 10px 0px; /* top, left */
}

article { 
    display: block;
}

/*********************************************************************************************************
NAVIGATION
**********************************************************************************************************/
nav {
  margin-top: 0;
  font-size: 1.115em;
  padding-top: 0;
  float: right;
  top: 0;
  right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: none;
}

nav li {
    float: right;
    top: 0;
    right: 0;
    margin-top: 0;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0;
    right: 0;
}

nav li a:hover {
    background-color: #d7eff2;
}

/*******************************************************/
/*LoginForm*/

/* Use the div to centre the form on the page */
div.frontform {
    display: block;
    text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(4, 40, 68, 0.85);
}

.loginform {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

  /* Below, along with div centre's the form on the page */

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}
.loginform.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.loginform.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.loginform.ok button {
  background-color: #8bc34a;
}
.loginform.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.loginform input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 90%; /* changes the width of the input box*/
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.loginform input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.loginform input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.loginform input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.loginform a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.loginform .title {
  color: #A5BDCD;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.loginform button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.loginform button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.loginform:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.loginform:not(.loading) button:focus {
  border-bottom-width: 4px;
}




/******************************************************/
/*Form Elements*/

.updateform {
  float: left;
  background: #85bdde;
  border-radius: 25px;
  height: 0px;
}

.detailsform {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 480px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

  /* Below, along with div centre's the form on the page */

  display: inline-block;
  margin-left: 80px;
  margin-right: auto;
  text-align: left;

}

form {
    margin: 0;
    padding: 90px;
    border: 2px solid #D3D8DC; 
}

input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: #6ECDF7;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 40px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #6ECDF7;
  color: #2C3238;
}
button {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #6ECDF7;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}
button:hover {
  opacity: 1;
}
button.small {
    padding: 1em 0.5em;
    margin: 0 auto;
    text-align: center;
}

/* drop down menu */
select {
  padding: 0;
  margin: 0 10px 20px;
}

.updatebutton {
  width: 10%;
  margin-left: 50px;
}

/*********************************************************************************************************
FOOTER
**********************************************************************************************************/

footer {
  text-align: center;
  font-size: 0.75em;
  font-weight:bold;
  clear:both; /* makes it so that the footer stays in the middle of the page, rather than float with the other elements */
  padding-top: 50px;
  color: #ccc;
}

/*********************************************************************************************************
View Enquiries Page
**********************************************************************************************************/

.contact-info {
  list-style: none;
  padding: 0 30px 0 40px; 
  margin: 10px 50px;
  font-size: 0.9em;
}

.contact-info a {
  display: block; /* let each thing take up a block of space*/
  background-repeat: no-repeat; /* by default background images are repeated turn this off*/
  background-size: 20px 20px;
  padding: 0 30px 0 40px; 
  min-height: 20px;
  margin: 10px 0px; /* top, left */
}

.contact-info li.phone a {
  background-image: url('../img/phone.png')

}

.contact-info li.mail a {
  background-image: url('../img/mail.png')

}


/*******************************************************/
/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.success {
  background: #70DA8B;
  color: #4DA463;
}
.error {
  background: #FFE6B2;
  color: #C5A14E;
  margin-bottom: 20px;
}
/*********************************************************/
/*Footer*/
footer{
  color: #777B7E;
  text-align: center;
  font-size: .875em;
  margin: 40px 0;
}

footer p {
  opacity: .7;
}

/*Grid*/
.row {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;
  transition: .35s linear;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}

/*********************************************************************************************************
COLORS
**********************************************************************************************************/
header {
  background-color: #476291;
  border-color: #fff;
  float: left;
  margin: 0 0 20px 0; /* Gets rid of the white space on the top*/
  padding: 7px 0 0 0; /* Seperates the heading text from the top a bit */ 
  width: 100%; /* Makes sure it stretches across the page */
  height: 40px; /* thickness of the top bar */
}

h1, h2 {
  color: #fff;
}

nav {
 background-color: none; 
}

p {
  color: #84a2d4;  

}

/* Here we select each anchored element in the navigation panel - and the color when a link has been visited*/
nav a, nav a:visited{
  color: #fff;
}

/* selected refers to a class we have created - that specifies the selected page, all anchor elements with this class will get these attributes 
    hover - shows the attributes when we hover over the element*/
nav a.selected, nav a:hover{
  color: #ccc;
}


body {
 color: #D3D8DC; 
 background-color: #fff;
 font-family:'Open Sans', sans-serif;
 
}







