
/* This is responsive design stuff. Basically media queries specifies conditions for the css in the brackets to be run.
    i.e. in first example, if the @media is a screen and it's min-width is greater than 480px - apply the css. 
    
    Note the order of the media queries as well. Bottom overrides the top, only for the things that are specified. Other things
    will stay the same. 

*/


@media screen and (min-width: 480px) {
  /* beyond 480 px, bigger than mobile screen */
  
  /*******************************************************************************************************
TWO COLUMN LAYOUT
********************************************************************************************************/
  
  #primary{
    width:50%;
    border-width: 2px;
    border-color: #000;
    float:left;
  }

  #secondary{
    width:40%;
    float:right;
  }  
 
}

@media screen and (min-width: 660px) {

  /* beyond 660 px, for desktops/large tablets */
  
  /*******************************************************************************************************
HEADER
********************************************************************************************************/
  
  nav {
    /* pushes the navigation menu elements to the right */
   background: none;
   float: right;
   font-size: 1.125em;
   margin-right: 5%;
   text-align:right;
   width: 45%;
  }
  
  h1 {
   font-size: 1.5em;
   margin-top: 5px; 
  }
  
  h2 {
   font-size: 0.825em;
   margin-bottom:20px;
  }  

  h3 {
    margin: 10px 90px;
  }

  p {
    margin: 10px 90px;
  }

  /* beyond 660 px, desktops/large tablets */
  body{
   color: #84a2d4;
   background: #fff; 
  }
  
}