{% from 'macros.html' import render_field %}

<!DOCTYPE html>
<html>

	<head>
	    <meta charset="utf-8">
    	<title>The Shepherd Centre | View Enquiry </title>

    	<link rel="stylesheet" href="/static/css/normalize.css">
    	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="/static/css/main.css">
    	<link rel="stylesheet" href="/static/css/responsive.css">

    	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>	

	<body>
			
		<header>
			<h1> 
				<a href="{{ url_for('index') }}">
				The Shepherd Centre - Equiry Details</a>
			</h1>
		</header>

		<nav>
        	<ul>
          		<li><a href="{{ url_for('logout') }}">Log out</a></li>
        	</ul>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}  



	{% for detail in enquiry %}
		<section id="primary">
		<p>Enquiry ID: {{ detail['enq_id'] }}</p>
		<h3>
			{{ detail['firstname'] }} {{ detail['lastname'] }}
		</h3>
        <ul class="contact-info">
          <li>Primary Caregiver: {{ detail['caregiver_firstname'] }} {{ detail['caregiver_lastname'] }}
          </li>
          <li>Preferred Contact Method: {{ detail['preferred_contact_method'] }}
          </li>
          <li class="phone"><a href="tel:{{ detail['caregiver_phone'] }}">Phone: {{ detail['caregiver_phone'] }}</a> 
          </li> 
          <li class="phone"><a href="tel:{{ detail['caregiver_phone'] }}">Alternate Phone: {{ detail['caregiver_alt_phone'] }}</a> 
          </li> 
          <li class="mail"><a href="mailto:{{ detail['caregiver_email'] }}">Email: {{ detail['caregiver_email'] }}</a>
          </li>
		</ul>
		
		<h3>Preferred Contact Days and Times</h3>

		<table style="width:70%">
			<tr>
				<th>Time of Day</th>
    	       	<th>Monday</th>
       		    <th>Tuesday</th>
        		<th>Wednesday</th>
    			<th>Thursday</th> 
    			<th>Friday</th>
           	</tr>
				
			<tr>
				<td>Morning</td>
				<td>{% if detail['p_c_day_mon_morning'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_tues_morning'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_wed_morning'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_thurs_morning'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_fri_morning'] == 1 %}Yes{% endif %}</td>
			</tr>

			<tr>
				<td>Lunch</td>
				<td>{% if detail['p_c_day_mon_lunch'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_tues_lunch'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_wed_lunch'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_thurs_lunch'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_fri_lunch'] == 1 %}Yes{% endif %}</td>
			</tr>

			<tr>
				<td>Afternoon</td>
				<td>{% if detail['p_c_day_mon_afternoon'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_tues_afternoon'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_wed_afternoon'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_thurs_afternoon'] == 1 %}Yes{% endif %}</td>
				<td>{% if detail['p_c_day_fri_afternoon'] == 1 %}Yes{% endif %}</td>
			</tr>

		 </table>

		<h3>How we can help:</h3> 
		<p>{{ detail['how_we_can_help'] }}</p>
		
		<h3>Joined Program?</h3> 
		{% if detail['joined_program'] == 1%}
			<p>Yes</p>
		{% else %}
			<p>No</p>
		{% endif %}

		{% if detail['joined_program'] != 0%}
		<h3>Not Joined Reason</h3> 
			<p>{{ detail['not_joined_reason'] }}</p>
		{% endif %}

		{% if detail['comments'] != None %}
		<article>
		<h3>Comments</h3> 
			<p>{{ detail['comments'] }}</p>
		</article>
		{% endif %}

		</section>

		<section id="secondary">

		<h3>Update Enquiry Details</h3>	
		
		<form method="POST" action="" class="form">
			{{ form.hidden_tag() }}
				{% for field in form if field.widget.input_type != 'hidden' %}
					{{ render_field(field) }}
				{% endfor %}
			<button type="submit" id="submit">Save</button>
		</form>

		</section>
	{% endfor %}	


    <footer>
        <p>&copy; 2015 Yeeka Yau</p>
    </footer>
</html>